/* Login Layout */
/* ------------ */

.LoginLayout {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 20px;
}

.LoginLayout .InfoMsg__sub .TextInput,
.LoginLayout .InfoMsg__sub .Button {
	margin-bottom: 40px;
}

.LoginLayout .FieldWrap .Icon {
	display: none;
	font-size: 30px;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -15px;
}

.LoginLayout .FieldWrap .TextInput[disabled] + .Icon {
	display: inline-block;
}