/* Info Msg */
/* -------- */

.InfoMsg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 100%;
    height: 100%;
    font-size: var(--font-size-huge);
    color: var(--col-darken-3);
    padding: 20px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,f4f4f4+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 50%, rgba(244,244,244,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 50%,rgba(244,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 50%,rgba(244,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

.InfoMsg .Icon {
    font-size: 9.0rem;
    margin-bottom: 10px;
}

.InfoMsg .icofont-refresh {
    color: var(--col-darken-3);
}

.InfoMsg__msg,
.InfoMsg__sub {
    display: block;
    text-align: center;
    line-height: var(--lh-reduced);
}

.InfoMsg__sub {
    font-size: var(--font-size);
    margin-top: 10px;
	max-width: 480px;
	width: 100%;
}

.InfoMsg__sub p {
    color: var(--col-darken-3);
}


/* Links */
/* ----- */
.InfoMsg__sub a {
    color: var(--col-darken-5);
    text-decoration: none;
}

.InfoMsg__sub a:focus,
.InfoMsg__sub a:hover {
    color: var(--col-brand);
    text-decoration: none;
}

.InfoMsg__sub a:active {
    color: var(--col-brand-dark);
    text-decoration: none;
}