/* App */
/* --- */

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  height: 100%;
  width: 100%;
}

.App__content {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-top: var(--header-height);
}