/* Issue List */
/* ---------- */

.IssueList {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    width: 100%;
    height: 100%;
	padding: 0px;
	transition: all 0.25s ease;
	font-size: var(--font-size-small);
}

.IssueList__List {
	position: relative;
	display: block;
	margin: 0px auto;
	padding: 0px;
	list-style: none;
	max-width: 1000px;
	width: 100%;
}

.IssueList__List:not(:empty) {
    border: 1px solid var(--col-darken-1);
}

.IssueList__paging {
	padding: 20px;
	visibility: hidden;
}

.IssueList__paging[data-visible="true"] {
	display: block;
	visibility: visible;
}

.IssueList__offlineinfo {
	padding: 10px 20px 0px 20px;
	text-align: center;
	font-size: var(--font-size-small);
	color: var(--col-brand-transparent);
	margin: 0px auto;
}

@media screen and (min-width: 1024px) {
	.IssueList {
		padding: 40px 0px;
		padding: 0px;
		font-size: var(--font-size);
	}

	.IssueList__offlineinfo {
		padding: 10px 40px 0px 40px;
	}
}