/* Search Bar */
/* ---------- */

.SearchBar {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background: var(--col-darken-2);
	border-bottom: var(--col-darken-1);
	padding: 10px 20px;
	height: var(--searchbar-height);
	min-height: var(--searchbar-height);
}
	
.SearchBar .Button,
.SearchBar .TextInput {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
	
.SearchBar .FieldWrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
	margin: 0px 5px;
}

.SearchBar .FieldWrap + .FieldWrap {
	margin-top: 0px;
}

@media screen and (min-width: 1024px) {
    .SearchBar {
		padding: 0px 20px;
	}
}