/* Issues Layout */
/* ------------- */

.IssuesLayout {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
}

.IssuesLayout[data-error="true"] .InfoMsg__msg {
	color: var(--col-neg);
}

.IssuesLayout[data-error="true"] .Button {
	width: auto;
}

.IssuesLayout__count {
	margin: 0px auto;
	padding: 15px 20px 15px 20px;
	position: relative;
	text-transform: uppercase;
	color: var(--col-darken-4);
	text-align: center;
	line-height: var(--lh-reduced);
}

.IssuesLayout__count strong {
	display: inline-block;
	padding: 0px 8px;
}

@media screen and (min-width: 1024px) {
	.IssuesLayout__count {
		padding: 17px 20px 17px 20px;
	}
}